
*{margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, sans-serif; }

a{text-decoration: none; color: #333;}
@media screen and (max-width: 480px)
{
/* ss */
}

@media screen and (min-width: 481px) and (max-width: 768px)
{

}

@media screen and (min-width: 769px) and (max-width: 1199px)
{
/* sss */
}
@media screen and (min-width: 1200px) 
{
    input[type='email'],input[type='password']{
        float:left;
        width: 100%;
        height: 40px;
        margin: 15px 0;
        border:1px solid #bbb;
        border-radius: 2px;
        font-size: 16px;
        padding: 0 10px;

    }

    input[type='submit']{
       
        width: 30%;
        height: 40px;
        background: #215832;
        font-weight: bold;
        color: #fff;
        border-radius: 2px;
        cursor: pointer;
    }

    input[type='submit']:hover{
opacity: 0.8;

    }
    .fundo{position:absolute;top:0;left:0;width:100%;height:100%;background:url(../img/login_bg_L.jpg) center center no-repeat;background-size:cover}

    .login{position:absolute;width:40%;top:50%;left:50%;margin-right:-50%;transform:translate(-50%,-50%);background:#fff;padding:30px}

    .loginFormulario{float:left;width:100%}

    .loginTextos{
        float: left;

        width: 70%;
        font-weight: bold;
        line-height: 40px;

    }

    .logomarca-login{
        float: left;
        width: 100%;
        text-align: center;
        height: 40px;
       

    }
}
